  body{
    background-color: #E7F6F2;
  }

  h1{
    color: #2C3333
  }
  h3{
    color: #2C3333
  }

  hr{
    border-style: none;
    border-top: dotted;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
  }
